  *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:'Poppins',sans-serif;
        }

        body{
            background:#F8FAFC;
        }

       

        .heading{
            max-width:1200px;
            margin:40px auto;
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:20px;
        }

        .text{
            width:50%;
        }

        .text h1{
            font-size:60px;
            color:#1E293B;
            margin-bottom:20px;
        }

        .subtitle{
            font-size:20px;
            color:#555;
            line-height:1.6;
        }

       

        .circle{
            width:430px;
            height:430px;
            background: #198754;
            border-radius:50% 0 50% 50%;

            display:flex;
            justify-content:center;
            align-items:center;

            box-shadow:0 15px 35px rgba(0,0,0,.15);
        }

        .circle img{
            height:370px;
        }

      

        .mealbox{

            max-width:1000px;
            margin:40px auto;

            display:flex;
            flex-direction:column;
            gap:30px;

        }

        .meal{

            display:flex;
            align-items:center;
            gap:40px;
            width:50%;
            background:#d1ded4;

            border-radius:20px;

            padding:25px;

            box-shadow:0 8px 20px rgba(0,0,0,.08);

        }

        .meal img{

            width:120px;
            height:120px;
            object-fit:contain;

        }

        .meal-text h3{

            margin-bottom:10px;
            font-size:24px;
            color: #198754;

        }

        .meal-text ul{

            padding-left:20px;

        }

        .meal-text li{

            margin-bottom:8px;
            color:#444;

        }

        /* ui respencive/

        @media(max-width:768px){

            .heading{

                flex-direction:column;
                text-align:center;

            }

            .text{

                width:100%;

            }

            .circle{

                width:300px;
                height:300px;
                margin-top:30px;

            }

            .circle img{

                height:250px;

            }

            .meal{

                flex-direction:column;
                text-align:center;

            }

            .meal-text ul{

                text-align:left;

            }

        }
        .para{
        display: flex;
        border: solid 5px;
        border-radius: 80px ;
        font-size: 20px;
        text-align: center;
        padding: 20px;
        background-color:  #198754;
        color: #F8FAFC;
     }   